
*.cache
EkoRestaurant/EkoRestaurant/obj/*
EkoRestaurant/.vs/*
EkoRestaurant/.vs/EkoRestaurant/DesignTimeBuild/.dtbcache.v2
EkoRestaurant/.vs/EkoRestaurant/v16/.suo
*.v2

EkoRestaurant/EkoRestaurant/obj/
EkoRestaurant/EkoRestaurant/bin/
EkoRestaurant/EkoRestaurant/.idea/
                
