@page "/"
@page "/index"
@using EkoRestaurant.Services
@using EkoRestaurant.Data
@using EkoRestaurant.Extensions
@using Plk.Blazor.DragDrop
@inject DailyMenusService DailyMenusService
@inject NavigationManager NavigationManager

<MudGrid Spacing="5" Justify="Justify.Center">
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-space-between pa-2 my-1 mx-2 mt-6" Outlined="false" Elevation="0">
            <MudText Typo="Typo.h2">
                <AuthorizeView>
                    <div class="page-title dark-color">Bienvenue @context.User.Identity.Name!</div>
                </AuthorizeView>

            </MudText>
            <AuthorizeView>
                <MudButton Style="float: right; width: 400px;" Class="btn-mud-gradiant-bg-rounded h6-quicksand" Variant="Variant.Filled" OnClick="@(() => OpenNewCommand())">
                    <img src="Images/white-add-plus.svg"/>Nouvelle commande
                </MudButton>
            </AuthorizeView>
        </MudPaper>
    </MudItem>
   

</MudGrid>

@code {


    private void OpenNewCommand()
    {
        NavigationManager.NavigateTo("create-command");
    }

}