@page "/listedescourses"
@using EkoRestaurant.Data

@using EkoRestaurant.Services
@using EkoRestaurant.Data

<MudGrid>
    <MudItem xs="12">
        <div class="page-title dark-color"> Liste des courses </div>
    </MudItem>
    <MudItem xs="12">
        <MudTable T="Ingredient" Items="listeDesCourses"> 
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Ingredient, object>(x => x.Name)">Nom</MudTableSortLabel>
                </MudTh>
                <MudTh>Quantité commandé</MudTh>
        
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Nom">@context.Name</MudTd>
                <MudTd DataLabel="Producteur">@context.UnitAtStart</MudTd>
            </RowTemplate>
        </MudTable>
    </MudItem>
</MudGrid>

@code {

    [Parameter]
    public static List<Ingredient> listeDesCourses { get; set; } = new();


}