<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""> <img src="Images/logo.svg" style="height: 30px; width: 30px ; margin-right: 10px"/>EkoRestaurant</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"> </span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="sidebar" >
        <li >
            <MudNavLink Icon="Images/caisse.svg" IconColor="Color.Default" Href="/">
                <MudText Typo="Typo.body1" Color="Color.Dark">
                    <MudIcon Icon="@Icons.Rounded.Calculate" Size="Size.Medium"/>
                    Caisse
                </MudText>
            </MudNavLink>
        </li>
        
        <li >
            <MudNavLink Icon="Images/ingredient.svg" IconColor="Color.Default" Href="/ingredients">
                <MudText Typo="Typo.body1" Color="Color.Dark">
                    <MudIcon Icon="@Icons.Rounded.Assessment" Size="Size.Medium"/>
                    Economat
                </MudText>
            </MudNavLink>
        </li>
        <li>
            <MudNavLink Icon="Images/ingredient.svg" IconColor="Color.Default" Href="/stocks">
                <MudText Typo="Typo.body1" Color="Color.Dark">
                    <MudIcon Icon="@Icons.Rounded.AccountBalanceWallet" Size="Size.Medium"/>
                    Stocks
                </MudText>
            </MudNavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}