<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""> <img src="Images/logo.svg" style="height: 30px; width: 30px ; margin-right: 10px"/>EkoRestaurant</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"> </span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="sidebar" >
        <li >
            <NavLink class="nav-link" href="">
                <img style="margin-right:10px ;padding-left: 10px" src="Images/caisse.svg"/>Caisse
            </NavLink>
        </li>
        
        <li >
            <NavLink class="nav-link" href="ingredients">
                <img style="margin-right: 10px; padding-left: 10px" src="Images/ingredient.svg"/>Economat
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="ingredients">
                <img style="margin-right: 10px; padding-left: 10px" src="Images/stocks.svg"/>Stocks
                </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}