.navbar-toggler {
    color : transparent;
    background: white;
}

.top-row {
    /* Name */
    background: transparent;

    font-family: "Fredoka One",cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;



}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    position: absolute;
    left: 29px;
    right: 4.34px;
    top: 2px;
    bottom: 2px;

    /* 24 sp • H5 Roboto */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    /* identical to box height */
    display: flex;
    align-items: center;

    /* Gray · 80% */
    color: #5E6366;


}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: transparent;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {

}

.nav-item ::deep a:hover {
    
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
