

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="sidebar">
        <hr>
        <li >
            <NavLink>
                <text class="nav-item-text">
                    <a class="a_personal" style="text-underline-mode: false" href="/"> <MudIcon Class="nav-item-icon-color" Style="margin-right: 5px; margin-left: 50px;" Icon="@Icons.Rounded.Home" Size="Size.Medium" /> 
                        Caisse </a>
                    
                </text>
            </NavLink>
        </li>
        <hr>
        <li >
            <NavLink>
                <text class="nav-item-text">
                    <a class="a_personal" href="/ingredients" > <MudIcon Class="nav-item-icon-color" Icon="@Icons.Rounded.ShoppingBasket" Style="margin-right: 5px; margin-left: 50px;" Size="Size.Medium" /> 
                        Stocks</a>
                    
                </text>
            </NavLink>
        </li>
        <hr>
        <li>
            <NavLink>
                <text class="nav-item-text">
                    <a  class="a_personal" href="/">  <MudIcon Class="nav-item-icon-color" Icon="@Icons.Rounded.FormatListBulleted"  Style="margin-right: 5px; margin-left: 50px;" Size="Size.Medium" /> 
                        Recette</a>
                    
                </text>
            </NavLink>
        </li>
        <hr>
    </ul>
    <div class="vl"></div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}