<div class="top-row pl-4 navbar navbar-dark">
    <img src="Images/Logo Ecommerce.svg"/>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="sidebar">
        
        <li >
            <NavLink>
                <text class="nav-item-text">
                    <a href="/"> <MudIcon Class="nav-item-icon-color" Icon="@Icons.Rounded.Home" Style="margin: 20px" Size="Size.Large" /> 
                    </a>
                    Caisse
                </text>
            </NavLink>
        </li>
        <hr>
        <li >
            <NavLink>
                <text class="nav-item-text">
                    <a href="/ingredients" > <MudIcon Class="nav-item-icon-color" Icon="@Icons.Rounded.ShoppingBasket" Style="margin: 20px" Size="Size.Large" /> 
                    </a>
                    Stocks
                </text>
            </NavLink>
        </li>
        <hr>
        <li>
            <NavLink>
                <text class="nav-item-text">
                    <a href="/"> <MudIcon Class="nav-item-icon-color" Icon="@Icons.Rounded.FormatListBulleted" Style="margin: 20px" Size="Size.Large"/> 
                    </a>
                    Recette
                </text>
            </NavLink>
        </li>
        <hr>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}